@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Collections.Generic;
@model List<Dictionary<string,string>>
<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        <form asp-action="SearchUser">
            <input name="name" placeholder="Nome"><br>
            <input type="submit" value="Buscar"><br>
        </form>
        <div>
            <a asp-action="Index">Inicio</a>
            @if(Model != null)
            {
                @foreach(var item in Model)
                {
                    <div>
                        @{
                            var c = @item["ImagePath"];
                        }
                        <img src="@Url.Content(c)">
                        @item["Nome"]
                        @item["Cidade"]
                    </div><br>
                }
            }
        </div>
    </body>
</html>